// Grosores de fuente
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Colores
$blanco: #fff;
$azul_principal: #005cb5;
$azul_fuerte: #0099c0;
$azul_claro: #08c0ff;
$verde: #06e16f;
$rojo: #ff504d;
$naranja: #ff961f;